.admin{
	height:600px;
}

.modify_listDer{
	color: #585858;
	height:50px;
	font-size:14px;
	font-weight:300;
	text-align:center;

}
.modify_item{
	margin-top:100px;
	height:650px;
}
.modify_item_textarea{
	height:100px;
}

select{
	font-size:25px;
	margin-left:250px;
	margin-top:50px;
	text-transform:uppercase;
}
.panier{
	margin-top:500px;
}

@media only screen and (max-width:1280px) {
	/*belong to nav*/
	.infos{
	width:300px
	}
}
@media only screen and (max-width:960px) {
	/*belong to nav*/
	.list{
		height:800px;
	}
	.infos{
	width:300px
	}
}
@media only screen and (max-width:768px) {
	/*belong to nav*/
	.list{
		height:300px;
	}
	.infos{
	width:300px
	}
}
@media only screen and (max-width:480px) {
	/*belong to nav*/
	.list{
		height:300px;
	}
	.infos{
	width:300px
	}
}