.inscription{
	margin-top:20px;
}
	#inscription_title{
		background-color: #183152;
		border-radius:20px;
		color: #ccff00;
		height:42px;
		margin:auto;
		padding:10px 0px 0px 30px;
		width:45%;
	}
	.inscription_title{
		background-color: #183152;
		border-radius:20px;
		color: #ccff00;
		margin-left:10px;
		padding-left:10px;
		width:27%;
	}
	.g-recaptcha{
		height:30px;

	}
@media only screen and (max-width:1280px) {
	#inscription_title{
		width:380px;
		border-radius:60px;
	}
}
@media only screen and (max-width:960px) {
	#inscription_title{
		height:100px;
		padding-top:30px;
		width:200px;
	}
	.inscription_title{
		width:100px;
		border-radius:60px;
	}
}
@media only screen and (max-width:768px) {
	
	}
}
@media only screen and (max-width:480px) {
	
}